---
layout: blog-taxonomy
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}

{% assign current_year = '' %}

{% for post in site.posts %}
  {% assign post_year = post.date | date: '%Y' %}

  {% if post_year != current_year %}
    {% unless forloop.first %}</ul>{% endunless %}

    <h2 class="archive-year">{{ post_year }}</h2>
    <ul class="archive-list">

    {% assign current_year = post_year %}
  {% endif %}

  <li>
    <a href="{{ post.url | relative_url }}">
      <span class="archive-title">{{ post.title }}</span>
      <span class="archive-date">{{ post.date | date: '%m-%d' }}</span>
    </a>
  </li>

  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
