---
layout: blog-taxonomy
# All the Categories of posts
---

{% include lang.html %}

<div class="category-list">
  {% assign sorted_categories = site.categories | sort %}

  {% for category in sorted_categories %}
    {% assign category_name = category | first %}
    {% assign posts_count = category | last | size %}

    <a href="/categories/{{ category_name | slugify | url_encode }}/" class="category">
      {{ category_name }}
      <span class="category-count">{{ posts_count }}</span>
    </a>
  {% endfor %}
</div>
